@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: #ff0036;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: #0b0b0b;
    font-size: 1.8em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.3s ease;
}

.navigation a:hover{
    color: #ff0036;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #0b0b0b , #101010);
    
}

.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #ff0036;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    text-decoration: none;
    color: white;
    background-color: #ff0036;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #ff0036,0 0 25px #ff0036;
}

.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 25px;
    transition: 0.3s ease;
}

.discord-icon:hover{
    color: #ff0036;
}

.github-icon:hover{
    color: #ff0036;
}

.youtube-icon:hover{
    color: #ff0036;
}

.x-icon:hover{
    color: #ff0036;
}

.instagram-icon:hover{
    color: #ff0036;
}

.title{
    display: flex;
    justify-content: center;
    color: #ff0036;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 50%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #ff0036;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #ff0036;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.about-me{
    background-image: linear-gradient(to right, #0b0b0b , #101010);
}

.discord-btn{
    text-decoration: none;
    color: white;
    background-color: #ff0036;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.discord-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #ff0036,0 0 25px #ff0036;
}

.youtube-btn{
    text-decoration: none;
    color: white;
    background-color: #ff0036;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.youtube-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px #ff0036,0 0 25px #ff0036;
}

.footer{
    background-image: linear-gradient(to right, #0b0b0b , #101010);
    color: white;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #ff0036;
}

/* @media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    .section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px){
    header{
        padding: 8px 20px;
    }

    .navigation a{
        padding-left: 6px;
    }

    .title{
        font-size: 1.3em;
    }

    .section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 0.7em;
    }

    .main-content h3{
        font-size: 1.2em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:300px){
    header{
        padding: 6px 20px;
    }

    .navigation a{
        padding-left: 4px;
    }

    .title{
        font-size: 1.1em;
    }

    .section{
        padding: 60px 20px;
    }

    .main-content h2{
        font-size: 0.5em;
    }

    .main-content h3{
        font-size: 1em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
} */

@media (max-width: 1200px) {
    header {
        padding: 10px 100px;
    }
    section {
        padding: 80px 100px;
    }
    .navigation a {
        font-size: 1.5em;
        padding-left: 20px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation a {
        padding: 10px 0;
    }
    section {
        padding: 60px 20px;
    }
    .main h3 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }
    .navigation a {
        font-size: 1.2em;
        padding-left: 10px;
    }
    .main h3 {
        font-size: 1.2em;
    }
    .card {
        width: 100%;
        margin: 10px 0;
    }
}
